.btn{
    border-radius: 15px;
    background-color: rgb(253, 189, 157);
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
        &:hover{
            background-color: rgb(255, 175, 135);
        }
} 