.carrito_vacio{
    font-size: 200px;
    line-height: 0;
    color: rgb(219, 219, 219);
}
.carrito{
    margin: 0 10% ;
    &__img{
        width: 80px;
        margin: 20px 0 0;
    }
    &__title{
      line-height: 20px;
    }
    &__sub{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__form{
        width: 30%;
    }
}
th{
  padding: 0 1px;
}
.cartList{
    border-spacing: 0;
    width: 95%;
    margin: 15px auto;
    text-align: center;
  }
  .cartList td {
    border-bottom: 1px solid #ccc;
  }

  .cartList th {
    border-bottom: 1px solid #ccc;
  }
  .cartList_head{
    line-height: 40px;
  }

  .cartList_row{
    line-height: 60px;
  }
  @media screen and (max-width: 700px) {    
    .carrito{
      margin: 0 5% ;
      &__img{
        width: 50px;
        margin: 20px 0 0;
      }
    }
    .btn__eliminar{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 500px) {    
    .carrito__price{
      display: none;
    }
  }
  @media screen and (max-width: 337px) {    
    .carrito{
      margin: 0  ;
      &__img{
        width: 40px;
        margin: 20px 0 0;
      }
    }
  }