.itemD{
    height: 100vh;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
        &__txt {
            text-align: start;
            flex: 1 2 50rem;
        }
        &__titulo {
            font-size: 2.5rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }
        &__precio{
            font-size: 2.5rem;
            margin: 15px 0 25px;
            font-weight: bold;
        }
        &__categoria{
            padding: 0;
            margin: 0;
            color: rgb(116, 115, 115);
        }
        &__pago{
            font-size: 10px;
            color: rgb(104, 104, 104);
            line-height: 25px;
            &-icon{
                margin-right: 5px ;
                font-size: 14px;
                position: relative;
                top: 2px;
                &--s{
                    margin-right: 5px ;
                    font-size: 12px;
                }
            }
        }
        &__img {
            flex: 1 1 50rem;
            display: flex;
            justify-content: right;
            padding-right: 90px;
            // &-Product {
            //     width: 400px;
            //     height: 500px;
            // }   
        }
        &__detalle{
            display: flex;
            flex-direction: row;
            margin: 10px 0;
        }
}

.product{
    &-small-img{
        float:left;
        & img{
            height: 100px;
            margin: 8px 0 ;
            cursor: pointer;
            display: block;
        }
    }
}
.img-container{
    float: right;
    padding: 10px;
        & img{
            width: 400px;
            height: 500px;
        // height: 300px;
        }
}
