.itemD{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: right;
    margin-bottom: 60px;
    &__img {
        padding-left: 30px;
    }
    &__txt{
        padding-left: 70px;
    }
        &__titulo {
            font-size: 2.5rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }
        &__precio{
            font-size: 2.5rem;
            margin: 15px 0 25px;
            font-weight: bold;
        }
        &__categoria{
            padding: 0;
            margin: 0;
            color: rgb(116, 115, 115);
        }
        &__pago{
            font-size: 10px;
            color: rgb(104, 104, 104);
            line-height: 25px;
            &-icon{
                margin-right: 5px ;
                font-size: 14px;
                position: relative;
                top: 2px;
                &--s{
                    margin-right: 5px ;
                    font-size: 12px;
                }
            }
        }
        &__detalle{
            display: flex;
            flex-direction: row;
            margin: 10px 0;
        }
        &__carrito{
            height: 130px;
            margin: 20px 0 -30px;
        }
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &-small-img{
        float:left;
        & img{
            height: 100px;
            margin: 8px 0 ;
            cursor: pointer;
            display: block;
        }
    }
}
.img-container{
    float: right;
    padding: 10px;
        & img{
            width: 400px;
            height: 500px;
        }
}

@media screen and (max-width: 1330px) {
    .itemD__txt{
        padding-left: 30px;
    }
}

@media screen and (max-width: 839px) {
    .itemD__img {
        padding-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .itemD{
        display: grid;
        grid-template-columns: 1fr;
        align-items: right;
        margin-bottom: 30px;
        &__txt{
            padding-left: 70px;
        }
        &__img {
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    .product{
        display: flex;
        flex-direction: column-reverse;
        &-small-img{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
      
        }
    }
    .img-container{
        padding: 0 40px;
        margin: auto;
        & img{
            width: 300px;
           height: 400px;
        }
    }
}

@media screen and (max-width: 390px) {
    .itemD{
        display: grid;
        grid-template-columns: minmax(320px 1fr);
        &__txt{
            padding-left: 40px;
        }
    }
    .img-container{
        margin: auto;
        padding: 0;
        & img{
           width: 280px;
           height: 380px;
        }
    }
}
