h1{
    margin: 50px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &-filtro{
        display: grid;
        grid-template-columns: .6fr 4fr;
    }
}
