*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.App {
  text-align: center;
}
.jsx{
    margin-top: 150px;
}
.noProduc {
  line-height: 30px;
  &__txt{
    font-size: 30px;
  }
  img{
    width: 250px;
  }
}
.loading{
  margin: 12rem 48% 9rem;
  // margin: 14rem 48% 10.8rem;
}