*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  position: relative;
  min-height: 100%;
  padding-bottom: 13rem;
}
.App {
  text-align: center;
}
.jsx{
    margin-top: 150px;
}
.noProduc {
  line-height: 30px;
  &__txt{
    font-size: 30px;
  }
  img{
    width: 250px;
  }
}

.loading{
  margin: 30vh 48vw;
}
@media (max-width: 768px) {
  .jsx{
    margin-bottom: 260px;
  }
}
@media (max-width: 568px) {
  .jsx{
    margin-bottom: 510px;
  }
}